<div style="display: flex; font-family: chalkboard;">
    <div>
        <% @repeats.times do %>
        <h3>hi there :<%= @name %></h3>
        <% end %>
    </div>

    <div style="margin-left: 1rem;">
        <p>hi friends </p>
    </div>
</div>